body {
    font-family: 'Poppins';
    font-size: 12px;
    margin: 0;
    background: conic-gradient(at -5% 30%, #ACC7F2 10%, #C4D8F1 30%, #E6AEEB 50%);
    color: #fff;
}

.logo {
    width: 100%;
    max-width: 220px;
}

header {
    background: #fff;
    ;
    padding: 1rem;
    text-align: center;
    align-content: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    background: linear-gradient(to top, #75A8E9 0%, #BAC7F4 50% 55%, #C79DDF 90% 95%);
    ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-top: 6px;
    padding-bottom: 16px;
}


nav ul {
    list-style-type: none;
    align-content: center;
    padding: 0;
}

nav ul li {
    display: inline;
    align-content: center;
    margin-right: 7.5px;
    margin-left: 7.5px;
    color: #000;
}

nav .nav-btn {
    border: 1px solid #000;
    font-family: 'Poppins';
    font-weight: 500;
    background: rgba(255, 255, 255, 0.1);
    color: #000;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.15s, color 0.15s;
}

nav .nav-btn:hover {
    border: 1px solid #C3BBEE;
    font-family: 'Poppins';
    font-weight: 500;
    background: rgba(255, 255, 255, 0.2);
    color: #C3BBEE;
}

section {
    padding: 2rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 6px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.container-box {
    background: linear-gradient(135deg, #fff 0%, #e6e6e6 100%);
    border-radius: 10px;
    padding: 30px 30px 20px 30px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px auto;
    align-items: center;
    transition: transform 0.15s ease-in-out;
}

.container-box:hover {
    transform: scale(1.01);
}

.left-container {
    position: relative;
    right: 200px;
}

.right-container {
    position: relative;
    left: 200px;
}

.container-box h3,
.container-box p {
    color: #000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(195, 187, 238, 0.2);
}

.nav-item:hover .dropdown-content {
    display: block;
}

.card {
    background: linear-gradient(to bottom, #ADC8F3 30%, #81B1EF 40% 45%, #deafdd 80% 85%);
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.3);
    transition: transform 0.15s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
}

.card-img-wrapper {
    margin-top: 11px;
}

.card-img {
    border-radius: 15px;
}

.carousel-item {
    border-radius: 15px;
    overflow: hidden;
}

.carousel-inner,
.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 15px;
}

.interaction-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.interaction-counts {
    margin-top: 5px;
    position: relative;
    left: 21px;
}

.square-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    margin-right: 30px;
    transition: color 0.4s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.like-btn {
    background-color: #fff;
    border-style: solid;
    border-color: #f58989;
    border-radius: 10px;
    color: #f58989;
}

.like-btn:hover {
    background-color: #f58989;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    color: #fff;
}

.like-btn:active {
    background-color: #f57171;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    color: #fff;
}

.share-btn {
    background-color: #fff;
    border-style: solid;
    border-color: #89b2f5;
    border-radius: 10px;
    color: #89b2f5;
}

.share-btn:hover {
    background-color: #89b2f5;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    color: #fff;
}

.share-btn:active {
    background-color: #71a4f5;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    color: #fff;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.post-time {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.footer-top {
    background-color: #fff;
    padding-top: 20px;
}

.footer p {
    margin-right: 10px;
    color: #000;
}

.footer-bottom {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.footer-logo {
    max-width: 100px;
    height: auto;
}

.footer-bottom a {
    font-size: 20px;
    margin-left: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a {
    text-decoration: none;
    color: #000;
}

.bi {
    background: linear-gradient(to top, #75A8E9 0%, #BAC7F4 50% 55%, #C79DDF 90% 95%);
    ;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
